{{page-title 'Event Listing'}}
<div class="page-container">
  <div class="jumbo center">
    <h1>Upcoming Peek Events</h1>
  </div>

  <div class="events-container">
    <div class="events-wrap">
      {{#each @model as |entry|}}
      <div class="event-item">
        <CalendarDay @entry={{entry}}></CalendarDay>
      </div>
      {{/each}}
    </div>
  </div>
</div>

{{outlet}}